[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "mutt/.mutt/colors-solarized"]
	path = mutt/.mutt/colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
