# Use Vi, not Emacs, style editing
set editing-mode vi

# Ignore case
set completion-ignore-case on

# Show mode 
#set show-mode-in-prompt on

###########################################################
# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command

# Insert the arguments from the last command
"p": "i !!*\r"


# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
"\C-o": "\e-0eli "


###########################################################
# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

# Needed because binding 'p' in command mode above wipes its insert mode
# # function, too. This fixes that, and will insert 'p' when you type 'p'.
"p": self-insert

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
"\C-o": "\e-0eli "


# glob patterns without executing, eg: 'rm *x'
"\C-e": glob-expand-word

# Two escapes clear command line. (Use C-c or \eC\eC instead)
"\e\e": "\e0\C-ki"

